<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>ru.surfstudio.dt.unit.surfApplicationBase</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.applicationBase</string>
        <string>com.apple.dt.unit.iosBase</string>
        <string>com.apple.dt.unit.languageChoice</string>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.cocoaTouchApplicationTarget</string>
            <key>SharedSettings</key>
            <dict>
                <key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
                <string>AppIcon</string>
                <key>LD_RUNPATH_SEARCH_PATHS</key>
                <string>$(inherited) @executable_path/Frameworks</string>
            </dict>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>universalDeviceFamily</string>
            <key>Name</key>
            <string>Devices:</string>
            <key>Description</key>
            <string>Which device family to create a project for</string>
            <key>SortOrder</key>
            <integer>1</integer>
            <key>Type</key>
            <string>popup</string>
            <key>Default</key>
            <string>Universal</string>
            <key>Values</key>
            <array>
                <string>Universal</string>
                <string>iPhone</string>
                <string>iPad</string>
            </array>
            <key>Units</key>
            <dict>
                <key>iPhone</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>Resources/Images/Assets.xcassets</string>
                        <string>Info.plist:UISupportedInterfaceOrientations~iPhone</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>Resources/Images/Assets.xcassets</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Resources</string>
                                <string>Images</string>
                            </array>
                            <key>Path</key>
                            <string>Images-iPhone.xcassets</string>
                        </dict>
                    </dict>
                </dict>
                <key>iPad</key>
                <dict>
                    <key>Project</key>
                    <dict>
                        <key>SharedSettings</key>
                        <dict>
                            <key>TARGETED_DEVICE_FAMILY</key>
                            <string>2</string>
                        </dict>
                    </dict>
                    <key>Nodes</key>
                    <array>
                        <string>Resources/Images/Assets.xcassets</string>
                        <string>Info.plist:UISupportedInterfaceOrientations~iPad</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>Resources/Images/Assets.xcassets</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Resources</string>
                                <string>Images</string>
                            </array>
                            <key>Path</key>
                            <string>Images-iPad.xcassets</string>
                        </dict>
                    </dict>
                </dict>
                <key>Universal</key>
                <dict>
                    <key>Project</key>
                    <dict>
                        <key>SharedSettings</key>
                        <dict>
                            <key>TARGETED_DEVICE_FAMILY</key>
                            <string>1,2</string>
                        </dict>
                    </dict>
                    <key>Nodes</key>
                    <array>
                        <string>Resources/Images/Assets.xcassets</string>
                        <string>Info.plist:UISupportedInterfaceOrientations~iPhone</string>
                        <string>Info.plist:UISupportedInterfaceOrientations~iPad</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>Resources/Images/Assets.xcassets</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Resources</string>
                                <string>Images</string>
                            </array>
                            <key>Path</key>
                            <string>Images-Universal.xcassets</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>hasUnitTests</string>
            <key>Name</key>
            <string>Include Unit Tests</string>
            <key>NotPersisted</key>
            <false/>
            <key>SortOrder</key>
            <integer>100</integer>
            <key>Type</key>
            <string>checkbox</string>
            <key>Default</key>
            <string>true</string>
            <key>Units</key>
            <dict>
                <key>true</key>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Identifier</key>
                            <string>com.apple.dt.unit.cocoaTouchApplicationUnitTestBundle</string>
                            <key>Name</key>
                            <string>___PACKAGENAME___Tests</string>
                        </dict>
                    </array>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>hasUITests</string>
            <key>Name</key>
            <string>Include UI Tests</string>
            <key>NotPersisted</key>
            <false/>
            <key>SortOrder</key>
            <integer>101</integer>
            <key>Type</key>
            <string>checkbox</string>
            <key>Default</key>
            <string>true</string>
            <key>Units</key>
            <dict>
                <key>true</key>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Identifier</key>
                            <string>com.apple.dt.unit.cocoaTouchApplicationUITestBundle</string>
                            <key>Name</key>
                            <string>___PACKAGENAME___UITests</string>
                        </dict>
                    </array>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>    
                </dict>
                <key>Swift</key>
                <dict>
                </dict>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>../Podfile</string>
        <string>../.gitignore</string>
        <string>Third Party</string>
        <string>Services</string>
        <string>Screens</string>
        <string>Resources</string>
        <string>Models</string>
        <string>Library</string>
        <string>Application</string>
        <string>Application/AppDelegate.swift</string>
        <string>Application/LaunchScreen.xib</string>
        <string>Info.plist:iPhone</string>
        <string>Info.plist:UIRequiredDeviceCapabilities:base</string>
        <string>Info.plist:LaunchScreen</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>../Podfile</key>
        <dict>
            <key>TargetIndices</key>
            <array/>
            <key>Beginning</key>
                <string>platform :ios, &apos;9.0&apos;

target &apos;___PACKAGENAME___&apos; do
                </string>
            <key>End</key>
                <string>

    target &apos;___PACKAGENAME___Tests&apos; do
        # Put pods used for both test targets here
        
        target &apos;___PACKAGENAME___UITests&apos; do
            # Put UI-testing-only pods here
        end
    end

end

                </string>
            <key>Group</key>
                <array>
                    <string>Non-iOS Resources</string>
                </array>
        </dict>
        <key>../.gitignore</key>
            <dict>
                <key>Path</key>
                    <string>.gitignore</string>
                <key>Group</key>
                    <string>Non-iOS Resources</string>
            </dict>
        <key>Library</key>
        <dict>
            <key>Path</key>
            <string>Library</string>
            <key>TargetIndices</key>
            <array/>
        </dict>
        <key>Models</key>
        <dict>
            <key>Path</key>
            <string>Models</string>
            <key>TargetIndices</key>
            <array/>
        </dict>
        <key>Resources</key>
        <dict>
            <key>Path</key>
            <string>Resources</string>
            <key>TargetIndices</key>
            <array/>
        </dict>
        <key>Screens</key>
        <dict>
            <key>Path</key>
            <string>Screens</string>
            <key>TargetIndices</key>
            <array/>
        </dict>
        <key>Services</key>
        <dict>
            <key>Path</key>
            <string>Services</string>
            <key>TargetIndices</key>
            <array/>
        </dict>
        <key>Third Party</key>
        <dict>
            <key>Path</key>
            <string>Third Party</string>
            <key>TargetIndices</key>
            <array/>
        </dict>
        <key>Application</key>
        <dict>
            <key>Path</key>
            <string>Application</string>
            <key>TargetIndices</key>
            <array/>
        </dict>
        <key>Application/AppDelegate.swift</key>
        <dict>
            <key>Group</key>
            <string>Application</string>
            <key>Path</key>
            <string>AppDelegate.swift</string>
        </dict>
        <key>Application/LaunchScreen.xib</key>
        <dict>
            <key>Group</key>
            <string>Application</string>
            <key>Path</key>
            <string>LaunchScreen.xib</string>
        </dict>
        <key>Info.plist:iPhone</key>
        <string><![CDATA[<key>LSRequiresIPhoneOS</key>
<true/>
]]></string>
        <key>Info.plist:UIRequiredDeviceCapabilities</key>
        <dict>
            <key>Beginning</key>
            <string><![CDATA[<key>UIRequiredDeviceCapabilities</key>
<array>]]></string>
            <key>End</key>
            <string><![CDATA[</array>]]></string>
            <key>Indent</key>
            <integer>1</integer>
        </dict>
        <key>Info.plist:UIRequiredDeviceCapabilities:base</key>
        <string><![CDATA[<string>armv7</string>]]></string>
        <key>Info.plist:statusBarTintForNavBar</key>
        <string><![CDATA[<key>UIStatusBarTintParameters</key>
<dict>
    <key>UINavigationBar</key>
    <dict>
        <key>Style</key>
        <string>UIBarStyleDefault</string>
        <key>Translucent</key>
        <false/>
    </dict>
</dict>
]]></string>
        <key>Info.plist:LaunchScreen</key>
        <string>&lt;key&gt;UILaunchStoryboardName&lt;/key&gt;
&lt;string&gt;LaunchScreen&lt;/string&gt;
</string>
    </dict>
</dict>
</plist>
