<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>ru.surfstudio.dt.unit.SurfMVPApplication</string>
    <key>Ancestors</key>
    <array>
        <string>ru.surfstudio.dt.unit.surfApplicationBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string></string>
    <key>Nodes</key>
    <array>
    	<string>Library/Protocols/ModuleTransitionable.swift</string>
    </array>
    <key>Definitions</key>
    <dict>
    	<key>Library/Protocols/ModuleTransitionable.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Library</string>
                <string>Protocols</string>
            </array>
            <key>Path</key>
            <string>ModuleTransitionable.swift</string>
            <key>TargetIndices</key>
            <array/>
        </dict>
    </dict>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>isUseStoryboards</string>
            <key>Name</key>
            <string>Use Storyboards</string>
            <key>Type</key>
            <string>checkbox</string>
            <key>Default</key>
            <string>false</string>
            <key>NotPersisted</key>
            <true/>
            <key>Units</key>
            <dict>
                <key>true</key>
                <dict>
                    <key>Nodes</key>
                        <array>
                            <string>Main.storyboard</string>
                            <string>Info.plist:UIMainStoryboardFile</string>
                        </array>
                    <key>Definitions</key>
                    <dict>
                        <key>Info.plist:UIMainStoryboardFile</key>
                        <string>&lt;key&gt;UIMainStoryboardFile&lt;/key&gt;
&lt;string&gt;Main&lt;/string&gt;</string>
                        <key>Main.storyboard</key>
                        <dict>
                            <key>Path</key>
                                <string>Main.storyboard</string>
                            <key>SortOrder</key>
                                <integer>99</integer>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
                <string>isUseSwiftLint</string>
            <key>Name</key>
                <string>Use SwiftLint</string>
            <key>Type</key>
                <string>checkbox</string>
            <key>Default</key>
                <string>false</string>
            <key>NotPersisted</key>
                <true/>
            <key>Units</key>
                <dict>
                    <key>true</key>
                    <dict>
                        <key>Targets</key>
                            <array>
                                <dict>
                                    <key>BuildPhases</key>
                                        <array>
                                            <dict>
                                                <key>Class</key>
                                                <string>ShellScript</string>
                                                <key>Name</key>
                                                <string>Swift Lint</string>
                                                <key>ShellPath</key>
                                                <string>/bin/sh</string>
                                                <key>ShellScript</key>
                                                <string>if which swiftlint >/dev/null; then
swiftlint
else
echo "error: SwiftLint does not exist, download it from https://github.com/realm/SwiftLint"
exit 1
fi</string>
                                            </dict>
                                        </array>
                                </dict>
                            </array>
                            <key>Nodes</key>
                                <array>
                                    <string>Non-iOS Resources/.swiftlint.yml</string>
                                </array>
                            <key>Definitions</key>
                                <dict>
                                    <key>Non-iOS Resources/.swiftlint.yml</key>
                                        <dict>
                                            <key>Path</key>
                                                <string>.swiftlint.yml</string>
                                            <key>Group</key>
                                                <string>Non-iOS Resources</string>
                                        </dict>
                                </dict>
                    </dict>
                </dict>
        </dict>
    </array>
</dict>
</plist>
