<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>ru.surfstudio.dt.unit.SurfMVPApplication</string>
    <key>Ancestors</key>
    <array>
        <string>ru.surfstudio.dt.unit.surfApplicationBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string></string>
    <key>Nodes</key>
    <array>
        <string>../Makefile</string>
        <string>../Gemfile</string>
        <string>../commit-msg</string>
        <string>../.swiftlint.yml</string>
        <string>../Rambafile</string>
        <string>../README.md</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>../.swiftlint.yml</key>
            <dict>
                <key>Path</key>
                <string>.swiftlint.yml</string>
                <key>Group</key>
                <string>Non-iOS Resources</string>
            </dict>
    	<key>../Makefile</key>
            <dict>
                <key>Path</key>
                <string>Makefile</string>
                <key>Group</key>
                <string>Non-iOS Resources</string>
            </dict>
        <key>../Gemfile</key>
            <dict>
                <key>Path</key>
                <string>Gemfile</string>
                <key>Group</key>
                <string>Non-iOS Resources</string>
            </dict>
        <key>../commit-msg</key>
            <dict>
                <key>Path</key>
                <string>commit-msg</string>
                <key>Group</key>
                <string>Non-iOS Resources</string>
            </dict>
        <key>../Rambafile</key>
            <dict>
                <key>TargetIndices</key>
                <array/>
                <key>Path</key>
                <string>Rambafile</string>
                <key>Group</key>
                <string>Non-iOS Resources</string>
            </dict> 
        <key>../README.md</key>
            <dict>
                <key>TargetIndices</key>
                <array/>
                <key>Path</key>
                <string>README.md</string>
                <key>Group</key>
                <string>Non-iOS Resources</string>
            </dict> 
    </dict>
    <key>Targets</key>
        <array>
            <dict>
                <key>BuildPhases</key>
                    <array>
                        <dict>
                            <key>Class</key>
                            <string>ShellScript</string>
                            <key>Name</key>
                            <string>Swift Lint</string>
                            <key>ShellPath</key>
                            <string>/bin/sh</string>
                            <key>ShellScript</key>
                            <string>if which "${SRCROOT}/Pods/SwiftLint/swiftlint" >/dev/null; then
    ${SRCROOT}/Pods/SwiftLint/swiftlint --config "${SRCROOT}/.swiftlint.yml"
else
    echo "error: SwiftLint does not exist, download it from https://github.com/realm/SwiftLint"
exit 1</string>
                        </dict>
                    </array>
            </dict>
        </array>
</dict>
</plist>
