<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>ru.surfstudio.dt.unit.SurfMVPApplication</string>
    <key>Ancestors</key>
    <array>
        <string>ru.surfstudio.dt.unit.surfApplicationBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string></string>
    <key>Nodes</key>
    <array>
        <string>../Podfile:swiftbasics</string>
        <string>../Makefile</string>
        <string>../Gemfile</string>
        <string>../commit-msg</string>
        <string>../.swiftlint.yml</string>
        <string>../Rambafile</string>
        <string>../README.md</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>../.swiftlint.yml</key>
            <dict>
                <key>Path</key>
                <string>.swiftlint.yml</string>
                <key>Group</key>
                <string>Non-iOS Resources</string>
            </dict>
        <key>../Podfile:swiftbasics</key>
                <string>
            pod &apos;Crashlytics&apos;
            pod &apos;Fabric&apos;</string>
    	<key>../Makefile</key>
            <dict>
                <key>Path</key>
                <string>Makefile</string>
                <key>Group</key>
                <string>Non-iOS Resources</string>
            </dict>
        <key>../Gemfile</key>
            <dict>
                <key>Path</key>
                <string>Gemfile</string>
                <key>Group</key>
                <string>Non-iOS Resources</string>
            </dict>
        <key>../commit-msg</key>
            <dict>
                <key>Path</key>
                <string>commit-msg</string>
                <key>Group</key>
                <string>Non-iOS Resources</string>
            </dict>
        <key>../Rambafile</key>
            <dict>
                <key>TargetIndices</key>
                <array/>
                <key>Path</key>
                <string>Rambafile</string>
                <key>Group</key>
                <string>Non-iOS Resources</string>
            </dict> 
        <key>../README.md</key>
            <dict>
                <key>TargetIndices</key>
                <array/>
                <key>Path</key>
                <string>README.md</string>
                <key>Group</key>
                <string>Non-iOS Resources</string>
            </dict> 
    </dict>
    <key>Targets</key>
        <array>
            <dict>
                <key>BuildPhases</key>
                    <array>
                        <dict>
                            <key>Class</key>
                            <string>ShellScript</string>
                            <key>Name</key>
                            <string>Swift Lint</string>
                            <key>ShellPath</key>
                            <string>/bin/sh</string>
                            <key>ShellScript</key>
                            <string>${PODS_ROOT}/SwiftLint/swiftlint</string>
                        </dict>
                    </array>
            </dict>
        </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                <key>Nodes</key>
                    <array>
                    </array>
                    <key>Definitions</key>
                    <dict>
                    </dict>    
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>Library/Protocols/ModuleTransitionable.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>Library/Protocols/ModuleTransitionable.swift</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Library</string>
                                <string>Protocols</string>
                            </array>
                            <key>Path</key>
                                <string>ModuleTransitionable.swift</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>isUseStoryboards</string>
            <key>Name</key>
            <string>Use Storyboards</string>
            <key>Type</key>
            <string>checkbox</string>
            <key>Default</key>
            <string>false</string>
            <key>NotPersisted</key>
            <true/>
            <key>Units</key>
            <dict>
                <key>true</key>
                <dict>
                    <key>Nodes</key>
                        <array>
                            <string>Main.storyboard</string>
                            <string>Info.plist:UIMainStoryboardFile</string>
                        </array>
                    <key>Definitions</key>
                    <dict>
                        <key>Info.plist:UIMainStoryboardFile</key>
                        <string>&lt;key&gt;UIMainStoryboardFile&lt;/key&gt;
&lt;string&gt;Main&lt;/string&gt;</string>
                        <key>Main.storyboard</key>
                        <dict>
                            <key>Path</key>
                                <string>Main.storyboard</string>
                            <key>SortOrder</key>
                                <integer>99</integer>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
                <string>isUseAlamofire</string>
            <key>Name</key>
                <string>Use Alamofire+AlamofireImage+AlamofireNetworkActivityIndicator</string>
            <key>Type</key>
                <string>checkbox</string>
            <key>Default</key>
                <string>false</string>
            <key>NotPersisted</key>
                <true/>
            <key>Units</key>
                <dict>
                    <key>true</key>
                    <dict>
                        <key>Nodes</key>
                            <array>
                                <string>../Podfile:afpod</string>
                                <string>../Podfile:afimage</string>
                                <string>../Podfile:afntwrkactivityindicator</string>
                            </array>
                        <key>Definitions</key>
                            <dict>
                                <key>../Podfile:afpod</key>
                                    <string>    pod &apos;Alamofire&apos;, &apos;~> 4.0&apos;</string>
                                <key>../Podfile:afimage</key>
                                    <string>    pod &apos;AlamofireImage&apos;, &apos;~> 3.2&apos;</string>
                                <key>../Podfile:afntwrkactivityindicator</key>
                                    <string>    pod &apos;AlamofireNetworkActivityIndicator&apos;, &apos;~> 2.1&apos;</string>
                            </dict>
                    </dict>
                </dict>
        </dict>
    </array>
</dict>
</plist>
